extends layout.pug 

block content
  if deleted 
    p.success Deleted

  .container2 
      h1 All notes
  ul.allNotes 
      each note in allnotes
          .note-container 
            a.note(href=`/allnotes'/${note.id}`) Task: #{note.title} 
            a.note(href=`/allnotes'/${note.id}`) Description: #{note.description} 
            .btns
              a.update(href=`/${note.id}/update`) Update
              a.delete(href=`/${note.id}/delete`) Delete


  
